.container{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    height: 545px;
    width: 545px;
    /* padding-left: 2px;
    padding-top: 2px; */
}

body{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}