body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(241, 241, 241);
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

/* HEADER STYLING */

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 120px 100px;
  box-shadow: rgb(151, 150, 150) 0px 7px 10px;
}



.row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 15px;
  /* padding-left: 10px; */
  /* padding-right: 15px; */
  justify-content: space-around;
  width: 100%;
  background-color: #00e1ff;
}

.icon-group1 {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.icon-group1 > .name {
  font-weight: bold;
}

.icon-group1 > .user-pfp {
  height: 50px;
  width: 50px;

}
.icon-group1 > .name, .icon-group1 > .fa-bell {
  padding-top: 10px;
}

input[type="text"] {
  border-radius: 15px;
  margin-left: 5px;
  width: 600px;
  height: 20px;
  background-color: rgb(203, 206, 209);
  border: 0;
  padding: 5px;
}

.searchbar {
  margin-left: 50px;
  margin-top: 5px;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-group {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 30px;
}

.btn-group > button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  background-color: #be185d;
  color: aliceblue;
  font-size: large;
}

.info-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info-group > .text {
  display: grid;
  grid-column: 2 / 3;
}

.info-group > .user-pfp {
  grid-row: 1 / 2;
  align-self: center;
  justify-self:flex-end;
  margin-right: 25px;
  width: 80px;
  height: 80px;
}

.hi {
  align-self:self-end;
  font-weight: bold;
}
.username {
  margin: 0;
}

/* SIDEBAR STYLING */

.sidebar {
  grid-row: 1 / 3;
  gap: 50px;
  background-color: #048ba3f1;
  color:ghostwhite;
  display: grid;
  grid-template-rows: 140px 250px 150px;
}


.subgroup1 {
  display: grid;
  font-size: larger;
}


.subgroup2 {
  display: grid;
  font-size: larger;
  /* justify-self: center; */
}

.subgroup2 > div {
  margin-left: 13px;
}

.subgroup1 > div > .text {
  font-weight:900;
}

.subgroup2 > div > .text {
  margin-left: 15px;
  font-weight:900;
}


.sidebar > div {
  /* margin-left: 15px; */
  justify-self: self-start;
}

.dashboard {
  margin: 45px;
  margin-left: 30px;
  font-weight: bold;
  font-size:xx-large;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  justify-self: center;
}


/* CONTENT STYLING */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* margin-top: 50px; */
  /* background-color: rgba(252, 240, 131, 0.89); */
  gap: 15px;
}

.projects {
  gap: 15px;
  /* border: solid 5px black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.pcard {
  /* border: solid 5px red; */
  /* background-color: rgb(233, 240, 238); */
  border-left: 10px solid #02b302;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 100px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.p-row1 {
  margin-left: 15px;
}

.p-row2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
  font-size: 25px;
  margin: 20px;
}

.projects > h2{
  grid-column: 1 / 3;
}


/* SIDECOLUMN STYLING */

.sidecolumn {
  display: grid;
  /* grid-template-rows: auto auto; */
}


.acard {
  display: grid;
  margin: 30px;
}

.acard:nth-child(-n+2) {
  border-bottom: 1px solid #02b302;

}

.acard > h4 {
  margin-top: 0;
}

h4 {
  margin: 0;
}

h4.site {
  margin-top: 20px;
}

.announcements {
  margin-top: 25px ;
}

.announcements > div {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  /* background-color: aliceblue; */
  border-radius: 10px;
  /* margin: 20px; */
}

.trending {
  display: grid;
  border-radius: 10px;
  /* margin: 30px; */
}

.trending > h3 {
  /* margin-bottom: -20px; */
}
.trending > div{
  /* background-color: aliceblue; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: grid;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.tcard {
  display: grid;
  grid-template-columns: 100px 1fr;
  /* justify-self: center; */
  /* justify-content: center; */
  /* gap: 25px; */
  /* grid-template-columns: 1fr 1fr; */
}

/* .tcard > p {
  grid-column: 2 / 3;
} */


/* PROFILE PICTURE STYLING */
.user-pfp, .pfp {
  border-radius: 50%;
  /* background-repeat: no-repeat; */
  background-position: center center;
  background-size: cover;
}

.tcard > .pfp {
  width: 50px;
  height: 50px;
  margin-left: 23px;
  margin-top : 20px;
}

.tcard > .text {
  /* text-wrap: wrap; */
  /* width: 58px;
  height: 50px; */
  /* display: flex;
  flex-wrap: wrap; */
  align-self: center;
}

.tcard > .text > .username {
  margin-top: 20px;
  font-style: italic;
}

p {
  font-weight: 200;
}

.tcard > .text > p {
  margin-top: 5px;
}