body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

/* HEADER STYLING */

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: rgb(151, 150, 150) 0px 7px 10px;
}



.row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 15px;
}

.icon-group1 {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.icon-group1 > .name {
  font-weight: bold;
}

.icon-group1 > .fa-bell {

}
.icon-group1 > .name, .icon-group1 > .fa-bell {
  padding-top: 10px;
}

input[type="text"] {
  border-radius: 15px;
  margin-left: 5px;
  width: 600px;
  height: 20px;
  background-color: rgb(203, 206, 209);
  border: 0;
  padding: 5px;
}

.searchbar {
  margin-left: 50px;
  margin-top: 5px;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-group {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 30px;
}

.btn-group > button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  background-color: rgba(153, 50, 204, 0.829);
  color: aliceblue;
  font-size: large;
}

.info-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info-group > .text {
  display: grid;
  grid-column: 2 / 3;
}

.info-group > .user-pfp {
  grid-row: 1 / 2;
  align-self: center;
  justify-self:flex-end;
  margin-right: 25px;
  width: 80px;
  height: 80px;
}

.hi {
  align-self:self-end;
  font-weight: bold;
}
.username {
  margin: 0;
}

/* SIDEBAR STYLING */

.sidebar {
  grid-row: 1 / 3;
  gap: 50px;
  background-color: rgba(101, 2, 150, 0.829);
  color:ghostwhite;
  display: grid;
  grid-template-rows: 140px 250px 150px;
}

.subgroup1 {
  display: grid;
  font-size: larger;
}


.subgroup2 {
  display: grid;
  font-size: larger;
  /* justify-self: center; */
}

.subgroup2 > div {
  margin-left: 13px;
}

.subgroup1 > div > .text {
  font-weight:900;
}

.subgroup2 > div > .text {
  margin-left: 15px;
  font-weight:900;
}


.sidebar > div {
  /* margin-left: 15px; */
  justify-self: self-start;
}

.dashboard {
  margin: 45px;
  margin-left: 30px;
  font-weight: bold;
  font-size:xx-large;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  justify-self: center;
}


/* CONTENT STYLING */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* margin-top: 50px; */
  background-color: rgba(252, 240, 131, 0.89);
}

.projects {
  gap: 5px;
  border: solid 5px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  /* border: solid 5px red; */
  background-color: rgb(152, 201, 184);
  border-left: 10px solid #7dd3fc;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 100px;
}


.p-row2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
  font-size: 25px;
  margin: 20px;
}

.projects > h2{
  grid-column: 1 / 3;
}

/* PROFILE PICTURE STYLING */
.user-pfp, .pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-repeat: no-repeat; */
  background-position: center center;
  background-size: cover;
}