body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
}

/* .container{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
} */


.header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.logo{
    font-weight: bold;
}

/* .header-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

ul{
    list-style: none;
    margin: 0;
    font-size:small;
    display: flex;
    gap: 30px;
}

.sec01, .header{
    background-color: #1f2937;
    color:aqua;
}

.sec01{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.big-text{
    font-size: 48px;
    font-weight:bolder;
}

.para{
    display: flex;
    margin-right: 200px;
    margin-left: 4px
}

a{
    text-decoration: none;
    color: wheat;
}

a:hover{
    color: greenyellow;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 1;
    text-decoration: none;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    border: solid 2px yellow;
    font-weight: bolder;
    font-size: medium;
}

.button{
    display: flex;
}

.img{
    display: flex;
    width:355px;
    height: 200px;
    flex: 1;
    justify-content: flex-end;
}

.sec01, .sec04, .sec02, .sec03{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
}