/* custom fonts */

@font-face {
  font-family: 'norsebold';
  src: url('assets/norse-bold-webfont.woff2') format('woff2'),
       url('assets/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Fonts END */


.main {
  display: flex;
  flex-direction: row;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-img {
  border: 5px solid black;
  height: 130vh;
  width: 100vw;
  background-image: url(assets/wallpaper.jpeg);
}

.content {
  height: 100vh;
  width: 170vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* border: 5px solid yellowgreen; */
}

.heading {
  /* border: 5px solid magenta; */
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.login {
  /* border: 5px solid salmon; */
  display: inline-block;
  /* flex: 1 1 auto; */
  /* margin-bottom: 80px; */
  margin-top: 20px;
  margin-left: 15px;
  margin-left: 15px;
}

form {
  border: 1px solid rebeccapurple;
  margin: 20px;
  padding: 10px;
  background-color:antiquewhite;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgb(48, 2, 2);
}

.fname, .lname, .email, .phone, .pass, .confirm-pass {
  float:left;
  margin-right:50px;
  margin-top: 5px;
}


.form-box h2 {
  margin-left: 20px;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 5px;
}

button,
label,
input{
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
  border-radius: 4px;
}

.submit-btn > button{
  width: auto;
  margin-left: 25px;
  display: inline-block;
  background-color: #0e7c12; /* Green background */
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.login > a:link{
  color: #0ace11;
}

.login > a:visited{
  color: #025004;
}

.login > a:hover{
  color: rgb(10, 170, 170);
}

input[type="password"]:invalid {
  border-color: #ff4d4d; /* Red border for invalid input */
  background-color: #ffe6e6; /* Light red background */
}

/* Style when the input is valid */
input[type="password"]:valid {
  border-color: #4CAF50; /* Green border for valid input */
  background-color: #e6ffe6; /* Light green background */
}
