/* custom fonts */

@font-face {
  font-family: 'norsebold';
  src: url('assets/norse-bold-webfont.woff2') format('woff2'),
       url('assets/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Fonts END */


.main {
  display: flex;
  flex-direction: row;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-img {
  border: 5px solid black;
  height: 130vh;
  width: 100vw;
  background-image: url(assets/wallpaper.jpeg);
}

.content {
  height: 100vh;
  width: 170vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 5px solid yellowgreen;
}

.heading {
  border: 5px solid magenta;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.login {
  border: 5px solid salmon;
  display: flex;
  /* flex: 1 1 auto; */
  margin-bottom: 80px;
  margin-top: 10px;
}

form {
  border: 2px solid ;
  margin: 0 auto;
  padding-right: 50px;
  background-color:antiquewhite;
  display: flex;
  flex-wrap: wrap;
}

input[type="submit"] {
  
}