body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 50vh;
  width: 50vw;
  display: grid;
  border: 5px solid saddlebrown;
  grid-template-rows: 1fr 1fr;
  /* grtr */
}

.display {
  display: grid;
  border: 5px solid rgb(158, 226, 32);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.card {
  border: 5px solid rgb(32, 155, 226);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.meta {
  display: flex;
  justify-content: center;
}